<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
        <div id="app">
            <el-input v-model="tableDataName" placeholder="请输入姓名" style="width:240px"></el-input>
            <el-button type="primary" @click="search">搜索</el-button>
            <el-table 
            :data="tableDataEnd"
            ref="multipleTable"
            border
            style="width: 100%;margin-top:5px;"
            @selection-change="handleSelectionChange">
            <el-table-column
            type="selection"
            width="50">
          </el-table-column>
            <el-table-column
            label="id"
            width="50">
            <template slot-scope="scope">
              <span>{{ scope.row.id }}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="订单号"
            width="80">
            <template slot-scope="scope">
              <span>{{ scope.row.orderNo }}</span>
            </template>
          </el-table-column>
            <el-table-column
              label="姓名"
              width="80">
              <template slot-scope="scope">
                <span>{{ scope.row.callName }}</span>
              </template>
           </el-table-column>
            <el-table-column 
            label="学校名称"
            width="120">
            <template slot-scope="scope">
             <span>{{ scope.row.schoolName }}</span>
           </template>
           </el-table-column>
           <el-table-column 
            label="专业名称"
            width="80">
            <template slot-scope="scope">
              <span>{{ scope.row.professionalName }}</span>
            </template>
            </el-table-column>
            <el-table-column 
            label="课程名称"
            width="80">
            <template slot-scope="scope">
              <span>{{ scope.row.temCourseName }}</span>
            </template>
            </el-table-column>
            <el-table-column 
            label="创建时间"
            width="160">
            <template slot-scope="scope">
              <span>{{ scope.row.createAt }}</span>
            </template>
            </el-table-column>
            <el-table-column label="操作">  
                <template slot-scope="scope">  
                <el-button size="mini" @click="dialogVisible(scope.row,scope.$index)">审核</el-button> 
                <el-button size="mini" @click="seedetail(scope.row,scope.$index)">查看详情</el-button>    
                </template>  
            </el-table-column> 
            </el-table>
            <!-- 添加的弹框 -->
            <el-dialog
            :visible.sync="dialogFormVisible2"
            width="40%">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="140px" class="demo-ruleForm">
                <el-form-item label="处理意见" prop="suggest">
                    <el-select placeholder="请选择处理意见" v-model="ruleForm.suggest" style="width: 200px;" @change="change_suggest">
                        <el-option label="驳回申请" value="1"></el-option>
                        <el-option label="同意放回订单池" value="2"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="理由" prop="descriptions" v-show="show">
                  <el-input v-model="ruleForm.descriptions"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="submitForm2('ruleForm')">确 定</el-button>
            </span>
          </el-dialog>
            <el-pagination
            style="margin-top:15px"
             @size-change="handleSizeChange"
             @current-change="handleCurrentChange"
             :current-page="currentPage"
             :page-sizes="[6]"
             :page-size="6"
             layout="total, sizes, prev, pager, next, jumper"
             :total="total">
            </el-pagination>
        </div>
</body>
  <script src="js/jquery.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/index.js"></script>
  <script src="../../js/base.js"></script>
  <script type="text/javascript">  
  var vm = new Vue({  
    el:'#app',
    data() {
      return {
      show:true,
      tableDataBegin: [],
      tableDataName: "",
      tableDataEnd: [],
      currentPage: 0,
      pageSize: 0,
      total:0,
      filterTableDataEnd:[],
      dialogFormVisible:false,
      dialogFormVisible2:false,
      idss:[],
      view:'',
      options:[],
      selectedOptions: [],
      selects:'',
      suggest:'',
      countryId:'',
      descriptions:'',
      key:'',
      id:'',
      page:"",
      name:'',
      ruleForm: {
        },
        rules: {
          suggest: [
            { required: true, message: '请选择处理意见', trigger: 'change' }
          ]
        }
      }
 },

 mounted() {
  this.getTableData(); 
 },
 methods: {
  search:function(){  
        var self = this;  
        var token = localStorage.getItem("token");
        $.ajax({  
          type : "get",  
          dataType: "json", 
          data:{
            "token": token,
            "page": 1,
            "limit": 6,
            "id":vm.tableDataName 
          } ,
          url : ""+baseURL+"/sys/seller/order/getOrderPool/info",  
          success : function(json) {  
           self.tableDataEnd=json.body.list;  
           self.total = json.body.totalCount;
           self.pageSize = json.body.totalCount;
           self.currentPage = json.body.currPage;
         },  
         error : function(json) {  
 
        }  
      });    
      },
  getTableData:function(){  
    const loading = this.$loading({
          lock: true,
          text: 'Loading',
          spinner: 'el-icon-loading'
        });
        var self = this;  
        $.ajax({  
          type : "get",  
          dataType: "json", 
          data:{
            "token": token,
            "page": 1,
            "limit": 6 ,
            "operaterOrderStatusedArr":5
          } ,
          url : ""+baseURL+"/sys/oper/getOperatorOrder",  
          success : function(json) {  
           self.tableDataEnd=json.body.list;  
           self.total = json.body.totalCount;
           self.pageSize = json.body.totalCount;
           self.currentPage = json.body.currPage;
           loading.close();
         },  
         error : function(json) {  
 
        }  
      });    
      },
      seedetail(row,index){
    localStorage.setItem("did", row.courseId);
    window.open( "seller_detail1.html?id="+row.courseId+"");
  }, 
 openData() {this.getTableData();},
 handleSizeChange(val) {
  console.log(`每页 ${val} 条`);
  this.pageSize = val;
  this.handleCurrentChange(this.currentPage);
 },

handleChange(item) {
  vm.item = item;
},
change_suggest(view){
  vm.view = view;
  if(view == 1){
    vm.show = true;
  }
  if(view == 2){
    vm.show = false;
  }
},
dialogVisible(row,_index){
  vm.private = row.sooId;
  vm.id = row.id;
  this.dialogFormVisible2=true;
  $.ajax({  
    type : "get",  
    dataType: "json", 
    data:{
      "token": token,
      "page": 1,
      "limit": 10 
    } ,
    url : ""+baseURL+"/sys/oper/teacList",  
    success : function(json) {  
      vm.selects = json.body.list; 
    }
});

},
 handleCurrentChange(val) {
  console.log(`当前页: ${val}`);
  this.currentPage = val;
  this.page =  this.currentPage;
  console.log(this.page);
  const loading = this.$loading({
          lock: true,
          text: 'Loading',
          spinner: 'el-icon-loading'
        });
        var self = this;  
        var token = localStorage.getItem("token");
        $.ajax({  
          type : "get",  
          dataType: "json", 
          data:{
            "token": token,
            "page": val,
            "limit": 6 
          } ,
          url : ""+baseURL+"/sys/seller/order/getOrderPool",  
          success : function(json) {  
           self.tableDataEnd=json.body.list;  
           self.total = json.body.totalCount;
           self.pageSize = json.body.totalCount;
           self.currentPage = json.body.currPage;
           loading.close();
         },  
         error : function(json) {  
 
        }  
      });
 },

  submitForm2(formName) {
    var self = this;
    this.$refs[formName].validate((valid) => {
          if (valid) {
            $.ajax({  
              type : "post",  
              dataType: "json", 
              headers: {"token": token},
              data:{
                processType: this.ruleForm.suggest,
                description:this.ruleForm.descriptions,
                orderId:vm.private,
              },
              url : ""+baseURL+"/sys/oper/processExceptionOrder",  
              success : function(json) {  
                if(json.status == 200){
                  vm.$message({
                  message: json.body.msg,
                  type: 'success'
                });
                vm.dialogFormVisible2=false;
                this.getTableData(); 
                }
                if(json.status == 400){
                  vm.$message({
                  message: json.body.msg,
                  type: 'warning'
                });
                vm.dialogFormVisible2=false;
                this.getTableData(); 
                }
              }
          });
          } else {
            console.log('error submit!!');
            return false;
          }
        });

      },      

      handleSelectionChange(val) {
        this.multipleSelection = val;
        let ids = [];
        this.multipleSelection.map((item)=> {
          var id = item.id;
        ids.push(""+id+"");
        });
        this.selectedIDs = ids;
        console.log('多选',ids);
        this.idss =  this.selectedIDs;
        console.log(this.idss);
      }, 
   
 }
});
  </script>  
  
</body>  
</html>  
</html>