<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
        <div id="app">
            <el-input v-model="tableDataName" placeholder="请输入姓名" style="width:240px"></el-input>
            <el-button type="primary">搜索</el-button>
            <el-button type="primary" @click="openData">重置</el-button>
            <el-button type="primary" @click="add">添加</el-button>
            <el-button type="primary" @click="handleDelete">删除</el-button>
            <el-table 
            :data="tableDataEnd"
            ref="multipleTable"
            border
            style="width: 100%;margin-top:15px;"
            @selection-change="handleSelectionChange">
            <el-table-column
            type="selection"
            width="55">
          </el-table-column>
            <el-table-column
            label="id"
            width="80">
            <template slot-scope="scope">
              <span>{{ scope.row.id }}</span>
            </template>
          </el-table-column>
            <el-table-column
              label="code"
              width="60">
              <template slot-scope="scope">
                <span>{{ scope.row.code }}</span>
              </template>
           </el-table-column>
            <el-table-column
            label="国家"
            width="180">
            <template slot-scope="scope">
              <span>{{ scope.row.name }}</span>
            </template>
           </el-table-column>
            <el-table-column
             label="货币"
             width="80">
             <template slot-scope="scope">
              <span>{{ scope.row.currency }}</span>
            </template>
            </el-table-column>
            <el-table-column 
             label="创建时间">
             <template slot-scope="scope">
              <span>{{ scope.row.createAt }}</span>
            </template>
            </el-table-column>
            <el-table-column 
            label="更新时间">
            <template slot-scope="scope">
              <span>{{ scope.row.updateAt }}</span>
            </template>
           </el-table-column>
            <el-table-column label="操作">  
                <template slot-scope="scope">  
                <el-button size="mini" @click="dialogVisible(scope.row,scope.$index)">编辑</el-button>   
                </template>  
            </el-table-column> 
            </el-table>
            <el-dialog
            :title="titleMap[dialogStatus]"
            :visible.sync="dialogFormVisible"
            width="40%">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="code" prop="code">
                  <el-input v-model="ruleForm.code" ref="code"></el-input>
                </el-form-item>
                <el-form-item label="name" prop="name">
                  <el-input v-model="ruleForm.name" ref="name"></el-input>
                </el-form-item>
                <el-form-item label="currency" prop="currency">
                  <el-input v-model="ruleForm.currency" ref="currency"></el-input>
                </el-form-item>
              </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="resetForm('ruleForm')">重 置</el-button>
                <el-button type="primary" @click="submitForm('ruleForm')">确 定</el-button>
            </span>
          </el-dialog>
            <el-pagination
            style="margin-top:15px"
             @size-change="handleSizeChange"
             @current-change="handleCurrentChange"
             :current-page="currentPage"
             :page-sizes="[8]"
             :page-size="8"
             layout="total, sizes, prev, pager, next, jumper"
             :total="total">
            </el-pagination>
        </div>
</body>
  <script src="js/jquery.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- import Vue before Element -->
  <script src="js/vue.js"></script>
  <!-- import JavaScript -->
  <script src="js/index.js"></script>
  <script src="js/home.js"></script>
</body>  
</html>  
</html>