<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
        <div id="app">
            <el-table 
            :data="tableDataEnd"
            ref="multipleTable"
            border
            style="width: 100%;margin-top:5px;"
            @selection-change="handleSelectionChange">
            <el-table-column
            label="id"
            width="50">
            <template slot-scope="scope">
              <span>{{ scope.row.id }}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="订单号"
            width="80">
            <template slot-scope="scope">
              <span>{{ scope.row.orderNo }}</span>
            </template>
          </el-table-column>
            <el-table-column
              label="师资专员"
              width="80">
              <template slot-scope="scope">
                <span>{{ scope.row.callName }}</span>
              </template>
           </el-table-column>
            <el-table-column 
            label="订单分类"
            width="100">
            <template slot-scope="scope">
                <span v-if='scope.row.sooTypeed===1'>委派订单</span>
                <span v-if='scope.row.sooTypeed===0'>自主抢单</span>
           </template>
           </el-table-column>
           <el-table-column 
            label="订单类型"
            width="100">
            <template slot-scope="scope">
                <span v-if='scope.row.spoType===0'>定制辅导</span>
                <span v-if='scope.row.spoType===1'>考前突击</span>
                <span v-if='scope.row.spoType===2'>包课辅导 </span>
                <span v-if='scope.row.spoType===4'>论文辅导</span>
                <span v-if='scope.row.spoType===32'>特殊订单</span> 
            </template>
            </el-table-column>
            <el-table-column 
            label="讲师姓名"
            width="80">
            <template slot-scope="scope">
              <span>{{ scope.row.wxAccount }}</span>
            </template>
            </el-table-column>
            <el-table-column 
            label="委派时间"
            width="100">
            <template slot-scope="scope">
              <span>{{ scope.row.orderTime }}</span>
            </template>
            </el-table-column>
            <el-table-column 
            label="订单状态"
            width="100">
            <template slot-scope="scope">
                <span v-if='scope.row.statused>=8 && scope.row.statused<=64'>未接单</span>
                <span v-if='scope.row.statused===128'>待排课</span>
                <span v-if='scope.row.statused===256'>已排课</span>
                <span v-if='scope.row.statused===512'>申请结课中</span>
            </template>
            </el-table-column>
            <el-table-column 
            label="可获G币"
            width="80">
            <template slot-scope="scope">
                <span>{{ scope.row.teacFixedPrice }}</span>
            </template>
            </el-table-column>
            <el-table-column label="操作">  
                <template slot-scope="scope">  
                <el-button size="mini" @click="dialogVisible(scope.row,scope.$index)">赠送G币</el-button>    
                <el-button size="mini" @click="seedetail(scope.row,scope.$index)">查看详情</el-button>  
                </template>  
            </el-table-column> 
            </el-table>
            <!-- 添加的弹框 -->
            <el-dialog
            :visible.sync="dialogFormVisible2"
            width="40%">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="140px" class="demo-ruleForm">
              <el-form-item label="赠送G币的个数" prop="glod">
                  <el-input v-model="ruleForm.glod"></el-input>
              </el-form-item>
              <el-form-item label="赠送otG币的个数" prop="glod1">
                  <el-input v-model="ruleForm.glod1"></el-input>
              </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" v-bind:loading="btnstatus" @click="submitForm2('ruleForm')">{{btnval}}</el-button>
            </span>
          </el-dialog>
            <el-pagination
            style="margin-top:15px"
             @size-change="handleSizeChange"
             @current-change="handleCurrentChange"
             :current-page="currentPage"
             :page-sizes="[6]"
             :page-size="6"
             layout="total, sizes, prev, pager, next, jumper"
             :total="total">
            </el-pagination>
        </div>
</body>
  <script src="js/jquery.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/index.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="../../js/base.js"></script>
  <script type="text/javascript">  
  var vm = new Vue({  
    el:'#app',
    data() {
      return {
      btnstatus:false,
      btnval:"确 定",
      tableDataName: "",
      tableDataEnd: [],
      currentPage: 0,
      pageSize: 0,
      total:0,
      dialogFormVisible:false,
      dialogFormVisible2:false,
      idss:[],
      operaterOrderStatusedArr:"3;4",
      spoTypeArr:null,
      sooTypeedArr:null,
      sooStatusedArr:null,
      selects:'',
      countryId:'',
      glod:'',
      glod1:'',
      key:'',
      id:'',
      val:1,
      page:"",
      name:'',
      ruleForm: {
        },
        rules: {
          glod: [
            { required: true, message: '请输入gb', trigger: 'blur' }
          ],
          glod1: [
            { required: true, message: '请输入otgb', trigger: 'blur' }
          ]
        }
      }
 },

 mounted() {
  this.getTableData(); 
  // this.getdata();
 },
 methods: {
  seedetail(row,index){
    window.open( "seller_detail1.html?id="+row.id+"");
  }, 

  getTableData:function(){  
    const loading = this.$loading({
          lock: true,
          text: 'Loading',
          spinner: 'el-icon-loading'
        });
        var self = this;  
        $.ajax({  
          type : "get",  
          dataType: "json", 
          data:{
            "token": token,
            "page": this.val,
            "limit": 6 ,
            "spoTypeArr":this.spoTypeArr,
            "sooTypeedArr":this.sooTypeedArr,
            "sooStatusedArr":this.sooStatusedArr,
            "operaterOrderStatusedArr": "3;4;6"
          } ,
          url : ""+baseURL+"/sys/oper/getOperatorOrder",  
          success : function(json) {  
           self.tableDataEnd=json.body.list;  
           self.total = json.body.totalCount;
           self.pageSize = json.body.pageSize;
           self.currentPage = json.body.currPage;
           loading.close();
         }
      });    
      },

 handleSizeChange(val) {
  console.log(`每页 ${val} 条`);
  this.pageSize = val;
 },
 handleCurrentChange(val) {

 },
dialogVisible(row,_index){
  vm.id = row.id;
  this.dialogFormVisible2=true;
},

  submitForm2(formName) {
    var self = this;
    this.$refs[formName].validate((valid) => {
          if (valid) {
            vm.btnstatus=true;
            vm.btnval="加载中";
            $.ajax({  
              type : "post",  
              dataType: "json", 
              headers: {"token": token},
              data:{
                gb: this.ruleForm.glod,
                otgb: this.ruleForm.glod1,
                courseId:vm.id
              },
              url : ""+baseURL+"sys/oper/handselGbToTeacher",  
              success : function(json) {  
                if(json.status == 200){
                  vm.$message({
                  message: '赠送成功',
                  type: 'success'
                });
                vm.btnstatus=false;
                vm.btnval="确 定";
                vm.dialogFormVisible2=false;
                }
                if(json.status == 400){
                  vm.$message({
                  message: '赠送失败',
                  type: 'warning'
                });
                vm.btnstatus=false;
                vm.btnval="确 定";
                vm.dialogFormVisible2=false;
                }
              }
          });
          } else {
            console.log('error submit!!');
            return false;
          }
        });

      },      

      handleSelectionChange(val) {
        this.multipleSelection = val;
        let ids = [];
        this.multipleSelection.map((item)=> {
          var id = item.id;
        ids.push(""+id+"");
        });
        this.selectedIDs = ids;
        console.log('多选',ids);
        this.idss =  this.selectedIDs;
        console.log(this.idss);
      }, 
   
 }
});
  </script>  
  
</body>  
</html>  
</html>