<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
        <div id="app">
            <el-button type="primary" @click="add">添加</el-button>
            <el-table 
            :data="tableDataEnd"
            ref="multipleTable"
            border
            style="width: 100%;margin-top:5px;"
            @selection-change="handleSelectionChange">
            <!-- <el-table-column
            type="selection"
            width="50">
          </el-table-column> -->
            <el-table-column
            label="id"
            width="50">
            <template slot-scope="scope">
              <span>{{ scope.row.id }}</span>
            </template>
          </el-table-column>
          <el-table-column
          label="货币"
          width="80">
          <template slot-scope="scope">
              <span>{{ scope.row.tagerCurrency }}</span>
          </template>
        </el-table-column>
          <el-table-column
          label="汇率"
          width="170">
          <template slot-scope="scope">
            <span>{{ scope.row.exchange }}</span>
          </template>
       </el-table-column>
           <el-table-column 
           label="修改时间"
           width="160">
           <template slot-scope="scope">
            <span>{{ scope.row.createAt }}</span>
          </template>
          </el-table-column>
            <el-table-column label="操作">  
                <template slot-scope="scope">  
                    <el-button size="mini" @click="revise(scope.row,scope.$index)">修改汇率</el-button>   
                </template>  
            </el-table-column> 
            </el-table>
            <el-pagination
            style="margin-top:15px"
             @size-change="handleSizeChange"
             @current-change="handleCurrentChange"
             :current-page="currentPage"
             :page-sizes="[6]"
             :page-size="6"
             layout="total, sizes, prev, pager, next, jumper"
             :total="total">
            </el-pagination>
            <!-- 添加的弹框 -->
            <el-dialog
            :visible.sync="dialogFormVisible"
            width="40%">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="140px" class="demo-ruleForm">
                <el-form-item label="选择货币种类" prop="currency">
                <el-form-item>
                  <el-select placeholder="请选择货币种类" v-model="ruleForm.currency" style="width: 140px;">
                      <el-option label="CNY" value="CNY"></el-option>
                      <el-option label="GBP" value="GBP"></el-option>
                      <el-option label="AUD" value="AUD"></el-option>
                      <el-option label="NZD" value="NZD"></el-option>
                      <el-option label="USD" value="USD"></el-option>
                      <el-option label="CAD" value="CAD"></el-option>
                  </el-select>
                </el-form-item>
              </el-form-item>
              <el-form-item label="利率" prop="exchange">
                <el-input v-model="ruleForm.exchange"></el-input>
              </el-form-item>
              </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="submitForm('ruleForm')">确 定</el-button>
            </span>
          </el-dialog>
          <!-- 添加的弹框 -->
          <el-dialog
          :visible.sync="dialogFormVisible1"
          width="40%">
          <el-form :model="ruleForm" :rules="rules1" ref="ruleForm" label-width="80px" class="demo-ruleForm">
            <el-form-item label="利率" prop="exchange">
              <el-input v-model="ruleForm.exchange"></el-input>
            </el-form-item>
          </el-form>
          <span slot="footer" class="dialog-footer">
              <el-button type="primary" v-bind:loading="btnstatus" @click="submitForm1('ruleForm')">{{btnval}}</el-button>
          </span>
        </el-dialog>
        </div>
</body>
  <script src="js/jquery.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/index.js"></script>
  <script src="../../js/base.js"></script>
  <script type="text/javascript">  
  var vm = new Vue({  
    el:'#app',
    data() {
      return {
      btnstatus:false,
      btnval:"确 定",
      tableDataBegin: [],
      tableDataName: "",
      tableDataEnd: [],
      currentPage: 0,
      pageSize: 0,
      total:0,
      idss:[],
      dialogFormVisible:false,
      dialogFormVisible1:false,
      val:1,
      ruleForm: {
        currency:'',
        exchange: '',
        },
        rules: {
          currency:[
            { required: true, message: '请选择货币类型', trigger: 'change' }
          ],
          exchange:[
            { required: true, message: '请填写汇率', trigger: 'blur' }
          ]
        },
        rules1: {
          exchange:[
            { required: true, message: '请填写汇率', trigger: 'blur' }
          ]
        }
      }
 },
 multipleSelection: [],
 mounted() {
  this.getTableData(); 
 },
 methods: {
  getTableData:function(){  
    var statused = "1;2"
    const loading = this.$loading({
          lock: true,
          text: 'Loading',
          spinner: 'el-icon-loading'
        });
        var self = this;  
        var token = localStorage.getItem("token");
        $.ajax({  
          type : "get",  
          dataType: "json", 
          data:{
            "token": token,
            "page": this.val,
            "limit": 6 ,
            "statused" : statused,
            "type" : 3
          } ,
          url : ""+baseURL+"sys/basedata/exchangeRate/list",  
          success : function(json) {  
           self.tableDataEnd=json.body.list;  
           self.total = json.body.totalCount;
           self.pageSize = json.body.totalCount;
           self.currentPage = json.body.currPage;
           loading.close();
         }
      });    
      },
  add(){
    vm.dialogFormVisible = true;
    this.ruleForm.exchange = "";
  },
  revise(row,index){
    vm.id = row.id;
    var item = row;
    vm.ruleForm = {
      exchange: item.exchange
    },
    vm.dialogFormVisible1 = true;
  },
  submitForm(formName) {
        let _this = this;
        this.$refs[formName].validate((valid) => {
          if (valid) {
            vm.btnstatus = true;
            vm.btnval = "加载中";
        $.ajax({  
          type : "post",  
          dataType : "json", 
          cache: false, 
          headers: {"token": token},
          data: {
            "tagerCurrency" : this.ruleForm.currency,
            "exchange" : this.ruleForm.exchange
          },
          url : ""+baseURL+"/sys/basedata/exchangeRate/save",  
          success : function(json) {  
            if(json.status == "200"){
              vm.$message({
              message: '添加汇率成功',
              type: 'success',
              duration : 1000
            });
            vm.btnstatus = false;
            vm.btnval = "确 定";
            vm.dialogFormVisible=false;
            vm.getTableData();
            }
            if(json.status == "400"){
              vm.$message({
              message: '添加汇率失败',
              type: 'warning',
              duration : 1000
            });
            vm.btnstatus = false;
            vm.btnval = "确 定";
            vm.dialogFormVisible=false;
            vm.getTableData();
            }
         }
      });
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      }, 
      submitForm1(formName) {
        let _this = this;
        this.$refs[formName].validate((valid) => {
        if (valid) {
          vm.btnstatus = true;
          vm.btnval = "加载中";
        $.ajax({  
          type : "post",  
          dataType : "json", 
          cache: false, 
          headers: {"token": token},
          data: {
            "id" : vm.id,
            "exchange" : this.ruleForm.exchange
          },
          url : ""+baseURL+"/sys/basedata/exchangeRate/update",  
          success : function(json) {  
            if(json.status == "200"){
              vm.$message({
              message: '修改汇率成功',
              type: 'success',
              duration : 1000
            });
            vm.btnstatus = false;
            vm.btnval = "确 定";
            vm.dialogFormVisible1=false;
            vm.getTableData();
            }
            if(json.status == "400"){
              vm.$message({
              message: '修改汇率失败',
              type: 'warning',
              duration : 1000
            });
            vm.btnstatus = false;
            vm.btnval = "确 定";
            vm.dialogFormVisible1=false;
            vm.getTableData();
            }
         }  
      });
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },        
 handleSizeChange(val) {
  console.log(`每页 ${val} 条`);
  this.pageSize = val;
  this.handleCurrentChange(this.currentPage);
 },

 handleCurrentChange(val) {
  vm.val = val;
  this.getTableData(); 
 },
  
handleSelectionChange(val) {
  this.multipleSelection = val;
  let ids = [];
  this.multipleSelection.map((item)=> {
    var id = item.id;
  ids.push(""+id+"");
  });
  this.selectedIDs = ids;
  console.log('多选',ids);
  this.idss =  this.selectedIDs;
  console.log(this.idss);
},     
resetForm(formName) {
  this.$refs[formName].resetFields();
},
 }
});
  </script>  
  
</body>  
</html>  
</html>