<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
        <div id="app">
            <el-input v-model="tableDataName" placeholder="请输入姓名" style="width:240px"></el-input>
            <el-button type="primary">搜索</el-button>
            <el-table 
            :data="tableDataEnd"
            ref="multipleTable"
            border
            style="width: 100%;margin-top:5px;"
            @selection-change="handleSelectionChange">
            <!-- <el-table-column
            type="selection"
            width="50">
          </el-table-column> -->
            <el-table-column
            label="id"
            width="50">
            <template slot-scope="scope">
              <span>{{ scope.row.id }}</span>
            </template>
          </el-table-column>
            <el-table-column
              label="姓名"
              width="80">
              <template slot-scope="scope">
                <span>{{ scope.row.callName }}</span>
              </template>
           </el-table-column>
           <el-table-column 
           label="微信号"
           width="80">
           <template slot-scope="scope">
             <span>{{ scope.row.wxAccount }}</span>
           </template>
           </el-table-column>
           <el-table-column 
           label="学校名称"
           width="120">
           <template slot-scope="scope">
            <span>{{ scope.row.schoolName }}</span>
          </template>
          </el-table-column>
            <el-table-column 
            label="专业名称"
            width="110">
            <template slot-scope="scope">
              <span>{{ scope.row.professionalName }}</span>
            </template>
           </el-table-column>
           <el-table-column 
           label="课程名称"
           width="110">
           <template slot-scope="scope">
             <span>{{ scope.row.temCourseName }}</span>
           </template>
          </el-table-column>
            <el-table-column 
            label="下单时间"
            width="160">
            <template slot-scope="scope">
              <span>{{ scope.row.createAt }}</span>
            </template>
            </el-table-column>
            <el-table-column label="操作">  
                <template slot-scope="scope">  
                <el-button size="mini" @click="dialogVisible(scope.row,scope.$index)">分配销售</el-button>   
                <el-button size="mini" @click="see(scope.row,scope.$index)">查看详情</el-button>
                </template>  
            </el-table-column> 
            </el-table>
            <!-- 添加的弹框 -->
            <el-dialog
            :visible.sync="dialogFormVisible"
            width="40%">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm">
                <el-form-item label="分配销售" prop="title">
                    <el-select placeholder="请选择" v-model="ruleForm.title" style="width: 160px;" @change="handleChangearea">
                        <el-option
                        v-for="item in selects"
                        :key="item.userId"
                        :label="item.username"
                        :value="item.userId">
                        </el-option>
                      </el-select>
                </el-form-item>
              </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="submitForm('ruleForm')">确 定</el-button>
            </span>
          </el-dialog>
            <el-pagination
            style="margin-top:15px"
             @size-change="handleSizeChange"
             @current-change="handleCurrentChange"
             :current-page="currentPage"
             :page-sizes="[6]"
             :page-size="6"
             layout="total, sizes, prev, pager, next, jumper"
             :total="total">
            </el-pagination>
        </div>
</body>
  <script src="js/jquery.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/index.js"></script>
  <script src="../../js/base.js"></script>
  <script type="text/javascript">  
  var vm = new Vue({  
    el:'#app',
    data() {
      return {
      tableDataBegin: [],
      tableDataName: "",
      tableDataEnd: [],
      currentPage: 0,
      pageSize: 0,
      total:0,
      filterTableDataEnd:[],
      dialogFormVisible:false,
      idss:[],
      options:[],
      selectedOptions: [],
      selects:'',
      countryId:'',
      key:'',
      courseId:'',
      val:1,
      page:"",
      name:'',
      superId:'',
      label:'',
      dialogStatus: "",
      ruleForm: {
        },
        rules: {
          title: [
            { required: true, message: '请选择销售', trigger: 'change' }
          ]
        }
      }
 },
 multipleSelection: [],
 mounted() {
  this.getTableData(); 
 },
 methods: {
  getTableData:function(){  
    const loading = this.$loading({
          lock: true,
          text: 'Loading',
          spinner: 'el-icon-loading'
        });
        var self = this;  
        $.ajax({  
          type : "get",  
          dataType: "json", 
          data:{
            "token": token,
            "page": this.val,
            "limit": 6 
          } ,
          url : ""+baseURL+"sys/seller/order/getOrderPool",  
          success : function(json) {  
           self.tableDataEnd=json.body.list;  
           self.total = json.body.totalCount;
           self.pageSize = json.body.totalCount;
           self.currentPage = json.body.currPage;
           loading.close();
         },  
         error : function(json) {  
 
        }  
      });    
      },

 handleSizeChange(val) {
  console.log(`每页 ${val} 条`);
  this.pageSize = val;
  this.handleCurrentChange(this.currentPage);
 },

dialogVisible(row,_index){
vm.dialogFormVisible = true;
vm.courseId = row.id;
vm.groupNo = row.groupNo;
    $.ajax({  
      type : "get",  
      dataType: "json", 
      data:{
        "token": token,
        "page": 1,
        "limit": 1000 
      } ,
      url : ""+baseURL+"sys/user/getMyDeptUserList",  
      success : function(json) {  
        vm.selects = json.body.list;
      },  
      error : function(json) {  

    }  
  });
},
handleChangearea(val){
  let obj = {};
    obj = this.selects.find((item)=>{
        return item.userId === val;
    });
    vm.userId = obj.userId;
    vm.username = obj.username;
  },
 handleCurrentChange(val) {
  vm.val = val;
  this.getTableData(); 
 },

 submitForm(formName) {
  let _this = this;
  console.log(this.$refs.ruleForm.model.title);
  var datas = _this.ruleForm;
        this.$refs[formName].validate((valid) => {
          if (valid) {
        $.ajax({  
          type : "post",  
          dataType : "json", 
          cache: false, 
          headers: {"token": token},
          data: {
            "courseId" : vm.courseId,
            "groupNo" : vm.groupNo,
            "sellerId" : vm.userId,
            "sellerName" : vm.username
          },
          url : ""+baseURL+"sys/seller/order/assigOrder",  
          success : function(json) {  
            if(json.status == "200"){
              vm.$message({
              message: '订单分配成功',
              type: 'success'
            });
            vm.dialogFormVisible=false;
            vm.getTableData();
            }
            if(json.status == "400"){
              vm.$message({
              message: json.body.msg,
              type: 'warning'
            });
            vm.dialogFormVisible=false;
            vm.getTableData();
            }
         },  
         error : function(json) {  
 
        }  
      });
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      }, 
      
      handleSelectionChange(val) {
        this.multipleSelection = val;
        let ids = [];
        this.multipleSelection.map((item)=> {
          var id = item.id;
        ids.push(""+id+"");
        });
        this.selectedIDs = ids;
        console.log('多选',ids);
        this.idss =  this.selectedIDs;
        console.log(this.idss);
      },     
 }
});
  </script>  
  
</body>  
</html>  
</html>