<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
    <div id="app">
        <el-input v-model="tableDataName" placeholder="请输入姓名" style="width:240px"></el-input>
        <el-button type="primary" @click="search">搜索</el-button>
        <!-- <el-button type="primary" @click="openData">重置</el-button>
            <el-button type="primary" @click="add">添加</el-button>
            <el-button type="primary" @click="handleDelete">删除</el-button> -->
        <el-table :data="tableDataEnd" ref="multipleTable" border style="width: 100%;" @selection-change="handleSelectionChange">
            <el-table-column type="selection" width="50">
            </el-table-column>
            <el-table-column label="id" width="50">
                <template slot-scope="scope">
              <span>{{ scope.row.id }}</span>
            </template>
            </el-table-column>
            <el-table-column label="昵称" width="80">
                <template slot-scope="scope">
                <span>{{ scope.row.callName }}</span>
              </template>
            </el-table-column>
            <el-table-column label="群名" width="200">
                <template slot-scope="scope">
             <span>{{ scope.row.groupName }}</span>
           </template>
            </el-table-column>
            <el-table-column label="群组id" width="80">
                <template slot-scope="scope">
              <span>{{ scope.row.groupNo }}</span>
            </template>
            </el-table-column>
            <el-table-column label="学校名称" width="120">
                <template slot-scope="scope">
             <span>{{ scope.row.schoolName }}</span>
           </template>
            </el-table-column>
            <el-table-column label="临时课程名" width="110">
                <template slot-scope="scope">
              <span>{{ scope.row.temCourseName }}</span>
            </template>
            </el-table-column>
            <el-table-column label="微信号" width="80">
                <template slot-scope="scope">
              <span>{{ scope.row.wxAccount }}</span>
            </template>
            </el-table-column>
            <el-table-column label="创建时间" width="160">
                <template slot-scope="scope">
              <span>{{ scope.row.createAt }}</span>
            </template>
            </el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">  
                <el-button size="mini" @click="dialogVisible(scope.row,scope.$index)">分配订单</el-button>   
                </template>
            </el-table-column>
        </el-table>
        <!-- 添加的弹框 -->
        <el-dialog :visible.sync="dialogFormVisible2" width="40%">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="140px" class="demo-ruleForm">
                <el-form-item label="分配教教师订单" prop="country">
                    <el-form-item>
                        <el-select placeholder="请选择分配教教师" v-model="ruleForm.country" style="width: 200px;" @change="handleChange">
                            <el-option v-for="item in selects" :key="item.id" :label="item.username" :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="submitForm2('ruleForm')">确 定</el-button>
            </span>
        </el-dialog>
        <!-- 编辑的弹框 -->
        <el-dialog :visible.sync="dialogFormVisible" width="40%">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="活动标题" prop="title">
                    <el-input v-model="ruleForm.title" ref="code"></el-input>
                </el-form-item>
                <el-form-item label="活动编号" prop="activityNo">
                    <el-input v-model="ruleForm.activityNo" ref="activityNo"></el-input>
                </el-form-item>
                <el-form-item label="参与人员" prop="participantUser">
                    <el-input v-model="ruleForm.participantUser" ref="participantUser"></el-input>
                </el-form-item>
                <el-form-item label="参与人数" prop="partNumber">
                    <el-input v-model="ruleForm.partNumber" ref="partNumber"></el-input>
                </el-form-item>
                <el-form-item label="实际花费" prop="actualCost">
                    <el-input v-model="ruleForm.actualCost" ref="actualCost"></el-input>
                </el-form-item>
                <el-form-item label="活动地区" prop="value1">
                    <el-col :span="8">
                        <el-form-item>
                            <el-select placeholder="请选择" v-model="ruleForm.value1" style="width: 120px;" @change="handleChange">
                                <el-option v-for="item in selects" :key="item.id" :label="item.name" :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <!-- <el-button @click="resetForm('ruleForm')">重 置</el-button> -->
                <el-button type="primary" @click="submitForm('ruleForm')">确 定</el-button>
            </span>
        </el-dialog>
        <el-pagination style="margin-top:15px" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[6]" :page-size="6" layout="total, sizes, prev, pager, next, jumper" :total="total">
        </el-pagination>
    </div>
</body>
<script src="js/jquery.js"></script>
<!-- import Vue before Element -->
<script src="js/vue.js"></script>
<!-- import JavaScript -->
<script src="js/index.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data() {
            return {
                tableDataBegin: [],
                tableDataName: "",
                tableDataEnd: [],
                currentPage: 0,
                pageSize: 0,
                total: 0,
                filterTableDataEnd: [],
                dialogFormVisible: false,
                dialogFormVisible2: false,
                idss: [],
                options: [],
                selectedOptions: [],
                selects: '',
                selects1: '',
                selects2: '',
                selects3: '',
                countryId: '',
                country: '',
                key: '',
                id: '',
                page: "",
                value1: '',
                value2: '',
                value3: '',
                name: '',
                superId: '',
                label: '',
                dialogStatus: "",
                ruleForm: {
                    // title: '',
                    // activityNo: '',
                    // participantUser: '',
                    // actualCost:''
                },
                rules: {
                    country: [{
                        required: true,
                        message: '请选择委派教师',
                        trigger: 'change'
                    }]
                }
            }
        },
        multipleSelection: [],
        mounted() {
            this.getTableData();
            if (this.totalItems > this.pageSize) {
                for (let index = 0; index < this.pageSize; index++) {
                    this.tableDataEnd.push(this.tableDataBegin[index]);
                }
            } else {
                this.tableDataEnd = this.tableDataBegin;
            }
        },
        methods: {
            search: function() {
                var self = this;
                var token = localStorage.getItem("token");
                $.ajax({
                    type: "get",
                    dataType: "json",
                    data: {
                        "token": token,
                        "page": 1,
                        "limit": 6,
                        "id": vm.tableDataName
                    },
                    url: "http://192.168.191.1:8088/sys/seller/order/getOrderPool/info",
                    success: function(json) {
                        self.tableDataEnd = json.body.list;
                        self.total = json.body.totalCount;
                        self.pageSize = json.body.totalCount;
                        self.currentPage = json.body.currPage;
                    },
                    error: function(json) {

                    }
                });
            },
            getTableData: function() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading'
                });
                var self = this;
                var token = localStorage.getItem("token");
                $.ajax({
                    type: "get",
                    dataType: "json",
                    data: {
                        "token": token,
                        "page": 1,
                        "limit": 6
                    },
                    url: "http://192.168.191.1:8088/sys/seller/order/getOrderPool",
                    success: function(json) {
                        self.tableDataEnd = json.body.list;
                        self.total = json.body.totalCount;
                        self.pageSize = json.body.totalCount;
                        self.currentPage = json.body.currPage;
                        loading.close();
                    },
                    error: function(json) {

                    }
                });
            },
            openData() {
                this.getTableData();
            },
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                this.pageSize = val;
                this.handleCurrentChange(this.currentPage);
            },
            handleClose(done) {
                this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {});
            },

            handleChange(item) {

            },

            dialogVisible(row, _index) {
                vm.id = row.id;
                this.dialogFormVisible2 = true;
                var token = localStorage.getItem("token");
                $.ajax({
                    type: "get",
                    dataType: "json",
                    data: {
                        "token": token,
                        "page": 1,
                        "limit": 10
                    },
                    url: "http://192.168.191.1:8088/sys/oper/queryUserTeacList",
                    success: function(json) {
                        vm.selects = json.body.list;
                    }
                });

            },
            add() {
                var token = localStorage.getItem("token");
                $.ajax({
                    type: "get",
                    dataType: "json",
                    data: {
                        "token": token,
                        "page": 1,
                        "limit": 10
                    },
                    url: "http://192.168.191.1:8088/sys/basedata/country/list",
                    success: function(json) {
                        vm.selects = json.body.list;
                    }
                });
                this.dialogFormVisible2 = true;
                this.ruleForm = {};
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
                this.currentPage = val;
                this.page = this.currentPage;
                console.log(this.page);
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading'
                });
                var self = this;
                var token = localStorage.getItem("token");
                $.ajax({
                    type: "get",
                    dataType: "json",
                    data: {
                        "token": token,
                        "page": val,
                        "limit": 6
                    },
                    url: "http://192.168.191.1:8088/sys/seller/order/getOrderPool",
                    success: function(json) {
                        self.tableDataEnd = json.body.list;
                        self.total = json.body.totalCount;
                        self.pageSize = json.body.totalCount;
                        self.currentPage = json.body.currPage;
                        loading.close();
                    },
                    error: function(json) {

                    }
                });
            },

            currentChangePage(list) {
                this.list = list;
                let from = (this.currentPage - 1) * this.pageSize;
                let to = this.currentPage * this.pageSize;
                this.tableDataEnd = [];
                for (; from < to; from++) {
                    if (list[from]) {
                        this.tableDataEnd.push(list[from]);
                    }
                }
            },
            submitForm(formName) {
                let _this = this;
                var datas = _this.ruleForm;
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        var token = localStorage.getItem("token");
                        $.ajax({
                            type: "post",
                            dataType: "json",
                            cache: false,
                            contentType: "application/json",
                            headers: {
                                "token": token
                            },
                            data: JSON.stringify({
                                "title": datas.title,
                                "name": datas.name,
                                "participantUser": datas.participantUser,
                                "actualCost": datas.actualCost,
                                "activityNo": datas.activityNo
                            }),
                            url: "http://192.168.191.1:8088/sys/channel/channelactivity/update",
                            success: function(json) {
                                if (json.status == "200") {
                                    vm.$message({
                                        message: '信息添加成功',
                                        type: 'success'
                                    });
                                    vm.dialogFormVisible = false;
                                    vm.getTableData();
                                }
                            },
                            error: function(json) {

                            }
                        });
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            submitForm2(formName) {
                var self = this;
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        console.log(this.ruleForm.country)
                        var token = localStorage.getItem("token");
                        $.ajax({
                            type: "post",
                            dataType: "json",
                            headers: {
                                "token": token
                            },
                            data: {
                                teacId: this.ruleForm.country,
                                courseId: vm.id
                            },
                            url: "http://192.168.191.1:8088/sys/oper/assignedOrder",
                            success: function(json) {
                                if (json.status == 200) {
                                    vm.$message({
                                        message: '分配订单成功',
                                        type: 'success'
                                    });
                                    vm.dialogFormVisible2 = false;
                                }
                                if (json.status == 400) {
                                    vm.$message({
                                        message: '分配订单失败',
                                        type: 'warning'
                                    });
                                    vm.dialogFormVisible2 = false;
                                }
                            }
                        });
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });

            },
            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.multipleTable.clearSelection();
                }
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
                let ids = [];
                this.multipleSelection.map((item) => {
                    var id = item.id;
                    ids.push("" + id + "");
                });
                this.selectedIDs = ids;
                console.log('多选', ids);
                this.idss = this.selectedIDs;
                console.log(this.idss);
            },
            handleDelete() {
                var ids = this.idss;
                console.log(JSON.parse(JSON.stringify(ids)));
                var a = JSON.parse(JSON.stringify(ids));
                if (ids == "") {
                    vm.$message({
                        message: '请选择一条或多条数据',
                        type: 'warning',
                        duration: '1500'
                    });
                    return;
                }
                this.$confirm('此操作将删除该数据, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    })
                    .then(_ => {
                        var token = localStorage.getItem("token");
                        $.ajax({
                            type: "post",
                            dataType: "json",
                            cache: false,
                            contentType: "application/json",
                            headers: {
                                "token": token
                            },
                            data: JSON.stringify(ids),
                            url: "http://192.168.191.1:8088/sys/channel/channelactivity/delete",
                            success: function(json) {
                                if (json.status == "200") {
                                    vm.$message({
                                        message: '删除信息成功',
                                        type: 'success'
                                    });
                                    vm.getTableData();
                                }
                            },
                            error: function(json) {}
                        });
                    })
                    .catch(_ => {});

            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
        }
    });
</script>

</body>

</html>

</html>